* {
  box-sizing: border-box; /* Ensures padding and border don't increase the element's size */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
}
